
<nav class="navbar navbar-expand-lg navbar-ligh shadow-sm ps-5 pe-3" id="mainNav">
    <a class="navbar-brand fw-bold" href="#">Franche-Comté Tourisme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="bi-list"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            {% if app.user is null %}
                <a href="{{ path('app_login') }}"><button class="btn btn-success" type="submit">Connexion</button></a>
            {% else %}
                <a href="{{ path('app_logout') }}"><button class="btn btn-warning" type="submit">Déconnexion</button></a>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ path('app_etablissements_favoris') }}">Vos Favoris</a></li>
            {% endif %}
            <a class="nav-link" href="{{ path("app_etablissements") }}">Établissements</a>
        </ul>


    </div>
</nav>